body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
}

.contenedor-campos-input {
    display: flex;
    height: 500px;
    width: 95%;
}

.campo-texto {
    margin: 5%;
    height: 80%;
    width: 80%;
}

.boton-extrae-imagenes {
    height: fit-content;
    align-self: center;
}
