body {
    display: flex;
    flex-direction: column;
    background: no-repeat linear-gradient(cyan, white);
    padding: 0 5%;
}

header {
    width: 100%;
    text-align: center;
}



/* Contenedor campo-iban y botón comprueba-iban */
.input-usuario {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(grey, white);
    border-radius: 20px 20px 0px 0px;
    height: 300px;
}

.contenedor-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.comprueba-iban {
    border: none;
    background: none;
}

.comprueba-iban img {
    height: 50px;
}

.campo-iban {
    width: 90%;
    height: 100%;
    border: 1px grey solid;
    margin-bottom: 5px;
    font-size: xx-large;
    text-align: center;
    background-color: transparent;
}

.campo-iban:focus {
    outline: none;
}


/* Elementos iban desglosado */

.contenedor-validacion-iban {
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.mensaje-iban-bien-formado-element, .mensaje-iban-valido-element {
    color: green;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
    text-transform: uppercase;
}

.iban-desglosado {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: linear-gradient(white, grey);
    border-radius: 0px 0px 20px 20px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    padding-top: 5%;
    border: 1px black solid;
}

.info-container p {
    text-align: center;
    font-size: large;
    font-size: xx-large;
}