body {
    display: flex;
    flex-direction: column;
    background: no-repeat linear-gradient(cyan, white);
    padding: 0 5%;
}

header {
    width: 100%;
    text-align: center;
}



/* Contenedor campo-iban y botón comprueba-iban */
.input-usuario {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(grey, white);
    border-radius: 20px 20px 0px 0px;
    height: 200px;
}

.contenedor-input {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.comprueba-iban {
    border: none;
    background: none;
}

.comprueba-iban img {
    height: 50px;
}

.campo-iban {
    justify-self: left;
    width: 90%;
    height: 100%;
    margin-bottom: 5px;
    border: none;
}


/* Elementos iban desglosado */
.iban-desglosado {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: linear-gradient(white, grey);
    border-radius: 0px 0px 20px 20px;
}

.contenedor-validacion-iban {
    display: flex;
    justify-content: space-around;
    background: white;
}

.mensaje-iban-bien-formado-element, .mensaje-iban-valido-element {
    color: rgb(33, 126, 30);
    font-weight: bolder;
    text-transform: uppercase;
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0 10px;
}

.info-container h2, p {
    text-align: center;
    height: 100px;
}